@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

li {
  background: #ffe5e5;
  color: darkred;
  padding: px;
  margin-left: 35px;
}

li {
  background: #ff9999;
  padding: 20px;
}

li {
  list-style-image: url('sqpurple.gif');
}
